<header class="header" role="banner">
	<div class="container ">
		<div class="headerTop">
			<div class="row ">
				<div class="topleft">
					<div class="col-sm-6 col-md-6 col-xs-12">
						<a href="${properties.topLeftUrl}" class="blank" target="_blank">${properties.topLeftUrlCopy}</a>
					</div>
				</div>
				<div class="topright" style="float: right">
					<div class="col-sm-6 col-md-6 col-xs-12" style="float: right">
						<a class="home-link"> <img class="site-title"
							alt=" Scouting Newsroom" style="float: right"
							src="../etc/designs/bsaApp/global/clientlibs/resources/omni.png" />
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row headerScroll">
			<div class="col-sm-12">
				<div class="logo">
					<a href="http://scoutingwire.org/"><img
						src="${properties.logoImage}" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</header>