<c:choose>
		<div class="header">
			<div class=" headerTop col-md-12">
					<div class="topLeft">
						<a href="${properties.topLeftUrl}" target="_blank">${properties.topLeftUrlCopy}</a>
					</div>
					<div class="topRight">
						<a href="${properties.topRightUrl}" class="blank">${properties.topRightUrlCopy}</a> <span class="icon-omni"></span>
					</div>
					<!--/.topRight-->

			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<div class="col-md-2 col-xs-4 img-asset-div bsa-logo">
							
						</div>
						<div class="col-md-10 col-xs-8 fill-head-bk-color">
							<div class="col-md-5 col-xs-4 assetShareDiv assetColor">
								<p>Digital Asset Portal  </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</c:choose>
<style>


</style>
